# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environments
venv/
.venv/
env/
ENV/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# VS Code
# ===============================
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# FastAPI / Uvicorn / Gunicorn
# ===============================
*.pid
gunicorn.conf.py

# ===============================
# Redis
# ===============================
dump.rdb

# ===============================
# Docker
# ===============================
__docker__/
docker-compose.override.yml

# ===============================
# Frontend (if built later)
# ======
